<configuration>
	<property resource="configuration.properties" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/bot.log</File>
		<encoder>
			<pattern>%d{HH:mm:ss,SSS} %contextName [%thread] %-5level
				%class{32}[%method]-%line - %msg%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy-MM,aux}/bot.log.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>
	</appender>

	<logger name="org.pircbotx" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
